.conten-edit{    
    background-image: url('../images/fondo4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    height: 87vh;
}

.edituser{     
    color: rgb(58, 3, 2); 
    display: block;
    font-weight: 900;
    

}
.tituloedit{
    color: rgb(218, 218, 218);
    margin: 0px;

    padding: 20px;
    text-align: center;
    font-size: 50px;
}

.label-edit{
    font-size: 35px;
    text-align: center;
    display: block;
    padding: 20px; 
   margin-left: 500px;
    margin-top: 0px;
}

.button-edit{
    display: block;  
    padding: 2.5px 10px;
    color: rgb(83, 78, 78);
    font-size: 1.5em;
    font-weight: 200;
    letter-spacing: 3px;
    text-transform: capitalize;    
    border: 1px solid rgb(66, 57, 57); 
    border-radius: 6px; 
    background-color: rgb(3, 3, 3);    
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 30px ;
    text-decoration: none; 
}

.button-edit:hover{
    color: rgb(58, 3, 2); 
    font-size: 1.8em;  
}
