@import url('https://fonts.googleapis.com/css?family=Quantico&display=swap');

@import url('https://fonts.googleapis.com/css?family=Oregano&display=swap');

.timer{
  color: red;
  padding: 20px;
}

.Nv2 h1.title{
  text-align: center;
  font-family: Oregano;
  color: #bbb;
}
h1{
  color: #bbb;
  }
   html{
     background-color: black;
  }

.root>input{
  display:none
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.Nv2 .screen div,.room label {
    position: absolute;
    display: block;
    transform-origin: 50% 50%;
}
.Nv2 .screen div{
  pointer-events:none;
}
.Nv2 label{
  pointer-events:all;
  width: 100%;
  height: 100%;
  z-index:+1
}
.Nv2 label:hover {
    cursor: pointer;
}
.Nv2 .screen {
  font-family:sans-serif;
    font-size:0.18vw;
    width: 500em;
    box-shadow: 0 0 10em #aaa;
    height: 250em;
    margin:  auto;
    border: solid 4px rgb(0, 0, 0);
    overflow: hidden;
    perspective-origin: center;
    perspective: 370em;
    background: #000000;
  
}
.Nv2 .room {
    width: 600em;
    position: absolute;
    left: 0;
  top:0;
    height: 400em;
    transition: transform ease-in-out 0.3s;
    transform-style: preserve-3d;
    transform: translatex(-50em) translatez(-150em) ;

}
.Nv2 :before,:after {
  box-sizing: border-box;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
}
.Nv2 .floor {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACAQMAAABIeJ9nAAAAA3NCSVQICAjb4U/gAAAABlBMVEX///8AAABVwtN+AAAAAnRSTlMAIqPzjNwAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDMvMTAvMTlykl2oAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAAAxJREFUCJljaGBwAAABxADBzXsYoAAAAABJRU5ErkJggg==');
    width: 600em;
    height: 400em;
    background-size: 20% auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    background-color: #867d7d;
    transform: rotatex(90deg) translatez(-100em);
    
}
.Nv2 .pared_left,.pared_right,.pared_front,.front_floor {
    background: linear-gradient(to bottom, #000000 0%, #ffffff 100%);
    border: solid 4em #3d3939;
    width: 400em;
    height: 400em;
}
.Nv2 .pared_left {
    transform: rotatey(90deg) translatez(-200em) translatey(-100em);
}
.Nv2.flor_down{
  transform: rotatey(77deg) translatez(-200em) translatex(-100em)
}
.Nv2 .pared_right {
    transform: rotatey(-90deg) translatez(-400em) translatey(-100em);
}
.Nv2 .pared_front {
    z-index: 8;
    width: 600em;
    height: 400em;
    transform: translatez(-200em) translatey(-100em);
}
 .Nv2 .door {
    background: #e1e1e1;
    width: 200em;
    left: 200em;
    border: solid 12em #fff;
    border-bottom: 0;
    height: 350em;
    bottom: 0;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.2);

}
.Nv2 .door:before {
    content: "";
    width: 80em;
    height: 40em;
  background:#000;
    left: 50em;
    top: 60em;
    border: solid 10em #bbb;
}
.Nv2 .cerradura {
    width: 30em;
    height: 30em;
    background: #fff;
    border-radius: 30em;
    right: 10em;
    top: 150em;
}
.Nv2 .cerradura:after,.cerradura:before {
    content: "";
    background: #000;
}
.Nv2 .cerradura:before {
    width: 6em;
    height: 20em;
    left: 12em;
    top: 7em;
}
.Nv2 .cerradura:after {
    width: 15em;
    height: 15em;
    border-radius: 15em;
    left: 8em;
    top: 5em
}
.Nv2 .luz {
    width: 31em;
    height: 37em;
    background: #fff;
    border: 1em solid #bbb;
    top: 130em;
    left: 50em;
    border-radius: 6em;
}
.Nv2 .luz:before {
    content: "";
    width: 23em;
    height: 29em;
    left: 3em;
    border-radius: 4em;
    border: solid 2em #bbb;
    top: 3em;
    background: linear-gradient(to top, #ffffff 40%, #cedbe5 60%);
}
.Nv2 .cuadro {
    transition: all linear 0.3s;
    width: 100em;
    height: 100em;
    left:80em;
    top:70em;
    box-shadow:0 0 80em rgba(0,0,0,0.4);
}

.Nv2 .cuadro:before {
    box-sizing:border-box;
    content:"" ;
    transition: all linear 0.3s;
    position: absolute;
    width: 100em;
    height: 100em;
    background: linear-gradient(to top, #ffffff 0%, #cedbe5 100%);
    border: 10em solid #bbb;
    box-shadow: 0 0 10em rgba(0,0,0,0.6);
    transform:translatez(2em)
}
.Nv2 .hammer {
    left:40em;
    filter: drop-shadow(0 0 5em rgba(155, 11, 11, 0.3));
    background-size: 1000% auto;
    top: 100em;
    height: 100em;
    background-size: 100% auto;
    width: 60em;
    background-image:url('https://us.123rf.com/450wm/maxkabakov/maxkabakov1709/maxkabakov170900278/85203223-concepto-de-construcci%C3%B3n-icono-de-martillo-rojo-pintado-sobre-fondo-de-pared-de-ladrillo-negro.jpg?ver=6');
    background-position:top center;
  background-repeat:no-repeat;
}
.Nv2 .key {

          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAAAsTAAALEwEAmpwYAAADX0lEQVR4nO2aW4hNURjH/8uYwSCK5PLg0og08TRoEObVAxGFEYnyKJJHkheFlCdJnpRrzINcEp7kUqSkKMYlJlJqMmOMc/w87LOnMe2zz9pnz95rjrN/tV/O+fa3vt+31zlr36SMjIxqxrguoBjAdElrJC2WNKWw1UrqKGwvJLUZY545KzIJgHXAE+xpB/YCI1zXHgugCXgYQXwg74ANrj3KAtgG/Ioh35/jQI1rJ2uAw4Mk3p/rQJ1rt5IAOxKQ9znj2i8UYAnQm2ADAHaXqsPJMggMk/RM0vyEh+qW1GCM6SgWMCzhAorRquTlJale0sGwAFcz4LWk2ZbhXZLa5M2YXklz5Z0gTbHcPydpujHmc9Q6EwFYEOE3fA+YEZBjLHA6Qp5dDlSDAQ5YFn0TCJ2hwCHLXDfS8isJcMei4O/ANItctcBTi3w/iuVw8Sc41SLmnDHmU6kgY8xvSccs8o0GxgV94aIBky1iHkfI98gyLrDxLhowxiKmO0K+Hsu4+qAPXTSg0yKmIUK+WZZxgcugiwZ8tIhZj3e2aMMmi5i8pC+W+ZIFOGu5dO2xyLUMyFvkepmGmxXAGssG/AQ2huRZBHywzHUkTcdQ8Nbur5aFA1zGu3KsB+qARuAokIuQo9m19z8AJyIUH5fnhJxRpv4nCNRKmpnikPuNMaQ4XnHwpv/VFI/+LdfOfTiQfwtMdO0tyYl8J9Do2luSE/n3QBp3m0rjQP4+MMm1t6Q++WsRBXJEeyzm8wpY59q5jxjymwv7z8Z7YPImJL4DOAWsAoaXW+ug3xTFW+cvSVodYbe8pK3GmHMB+SZImiNpvCTkXdV9lvRtyKzvPnGPfEVTpnw+k690CvJtZci3uq49Npl8efJbXNcem2qXrytDHuABlfTqShAx5H3OV2wTBkHe50LFNWEQ5fs3oezz91RJQN7n4pBvQoLy/Zvg6jWd0gBXEpT32e7SsWj3gZ2S1qZQQ1MKYxQlbPrtS6mGuymNYw8wBviTwvQ/6do1EKAG6KpKeR/gdgmBPND9X8pLEjAP6CkikANageVEnylDX96nIDjwzmw70DIgxrYJlSPvA4wEmoGtwFJgVEDMCosmVJ58FICVIU34v+V9gJaAJlSHvA+wEO8Z3UssXnTKyMjIcMlfOgwrP1DTWc8AAAAASUVORK5CYII=');

      width: 40em;
      height: 40em;
      left: 40em;
      filter: drop-shadow(0 0 5em rgba(26, 24, 24, 0.336));
      top: 20em;
      background-repeat: no-repeat;
      border: none;
      background-color: transparent;
      background-size: 100% auto;
}
.Nv2 .icon{
    background-color: #332e2e;
    border-radius: 50em;
    background-size: 70%;
    border: none;
    background-position: center;
    width: 4em;
    height:4em;
    position: absolute;
    left: 1em;
    top: 1em;
    transition: transform 0.5s ease-in-out;
    z-index:9;
    box-shadow: 0 0 20px #000;
    transform: translatey(-7em);
  border:solid 5px #000;
}
.Nv2 .icon:focus{
  border-color: #fff;
}
.Nv2 .hammer.icon{
  background-position:45% 100%;
  
  background-size: 59px;
 
}
.Nv2 .key.icon{
left:100px;
}
.Nv2 .box .key{
  pointer-events:none
}
.Nv2 .box {
    background: #aa0000;
    box-shadow: 0 0 80px inset;
    left:180em;
    top:170em;
    width: 130em;
    height: 90em;
    border: solid 5em #ddd;
    overflow: hidden;
    z-index:9;
}
.Nv2 .box_door {
  pointer-events:all;
  display:block;
    width: 100%;
    height: 100%;
    background: #ddd;
    padding: 5em;
    box-shadow: 0 0 10px #bbb inset;
    transition: transform 1s linear;
    z-index:9;
}

 label[class*="pass"] {
    background: #ccc;
    width: 30em;
    height: 50em;
    margin: 2em;
    position: relative;
    display:inline-block;
    width: 15em;
    height: 35em;
    border-radius: 20em;
    overflow: hidden;
    box-shadow: 0 0 30px #666 inset;
}
 label[class*="pass"]:before {
    content: "";
    height: 13em;
    width: 13em;
    color: #000;
    background: #000;
    border-radius: 30em;
    left: 1em;
    top: 1em;
    box-shadow: 0 0 30px #000;
  transition: top 0.3s ease;
}

label[class*="pass"]:after {
    content: "1 0";
    width: 1.2em;
    margin-left: 0;
    text-align: center;
    color: #fff;
    left: 0.25em;
    margin-top: -0.3em;
    font-weight: bold;
    font-size: 9em;
    line-height: 2.3em;
    background: none;
    z-index: 999999;
}
#pass_1:checked~.screen .pass_1:before,
#pass_2:checked~.screen .pass_2:before,
#pass_3:checked~.screen .pass_3:before,
#pass_4:checked~.screen .pass_4:before,
#pass_5:checked~.screen .pass_5:before {
    top:21em;
}
.Nv2 .box_open {
    width: 20em;
    height: 20em;
    right: 5em;
    bottom: 5em;
    background-color: #333;
    border-radius: 30em;
    background-size: auto 80%;
  background-repeat:no-repeat;
  background-position:center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='71' height='71' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='4' stroke-linecap='round' stroke-linejoin='arcs'%3E%3Cpath d='M5 12h13M12 5l7 7-7 7'/%3E%3C/svg%3E");
}
/*----  interacción  ---*/
#left:not(:checked) ~.screen .box,
#center:not(:checked) ~.screen .door,
#door:not(:checked) ~.screen .door label,
.Nv2 #box:not(:checked) ~.screen .box label{
  pointer-events:none;
}
.Nv2 #right:checked ~.screen .room {
    transform:   translatex(-50em)  rotatey(45deg);
}
.Nv2 #left:checked ~.screen .room {
    transform: translatex(-50em)  rotatey(-45deg) ;
}
.Nv2 #box:checked ~.screen .room {
    transform: translatex(-100em) translatez(500em) rotatey(-90deg) ;
}
.Nv2 #door:checked ~.screen .room {
    transform: translatex(-60em) translatez(300em)  translatey(50em) ;
}
.Nv2 #luz:checked~.screen .luz:before {
    background: linear-gradient(to bottom, #ffffff 40%, #cedbe5 60%);
}
.Nv2 #luz:checked~.screen:after {
    content: "";
    background: rgba(0, 0, 0, 0.6);
}
.Nv2 #cuadro:checked~.screen .cuadro:before {
    transform:  rotatex(90deg) translatey(120em)  translatez(-270em);
}
.Nv2 #cuadro:checked~.screen .cuadro {
     pointer-events: none;
}
.Nv2 #luz:checked ~ #cuadro:checked ~.screen .cuadro:after{
    content:"01101";
    font-size: 40px;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
}
#key:checked ~.screen .icon.key,
.Nv2 #hammer:checked ~.screen .icon.hammer{
 transform: translatey(0);
}
#key:checked ~.screen .room .key,
.Nv2 #hammer:checked ~.screen .room .hammer {
 display: none;
}

.Nv2 .icon.hammer:focus ~ .room *{
 cursor:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAA3NCSVQICAjb4U/gAAAAMFBMVEX///////////////////////////////////////////////////////////////9Or7hAAAAAEHRSTlMAESIzRFVmd4iZqrvM3e7/dpUBFQAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwMy8xNC8xOf3wyv8AAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAmElEQVQokWNgQAdM6QkMjKEg0K4AFpD+/5WB/d87IPh/TAAkkP//X3L9fwjYDBIAcv5B+f//JUAEEOAX0Jh+ZIH/h8EqVtwHcxaZ7/v/L4DB7v8PBm0Q/zfQCdn3JzCwrmpkYJrZuXLWJJAVqg4YDoUARkFBQRQBqTNnTqAIyAGdgCIg+///T3QBDBWEBahhxm8Bys2gqQAAbWWXSiWsAdoAAAAASUVORK5CYII='),auto;
}
.Nv2 .icon.key:focus ~ .room *:hover {
  cursor:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAB6UlEQVRIS7WUTYiOURiGr/uU/CxkYzsLS02m/KVslJKFjRKxQ/4XQjMb5WepJIlBFmaKWAhlqcnPgoUFWcnWjhQr+encOuN80/HO9833nk/e3fOec677eZ5zn0f850//wF8LrAHmA++BKeBbkzeIwLCkCWBVA/bJ9nHgVvm/VmBE0nNgca/KbR8FLnXWawQk6Q2wok9bf9oezm2jRmCDpCcF/KntvcDnEMKo7ZMzWUsXYownUlwjMCbpXAdiewj4UEBfAatz/ML2+iqBEMIZ26czwLYXAt8LgUfAlhy/tr2ySgDYJel2UcEocD7HyVmpggXTUOlujHFnrcASSR+BecU9PEt3AGwGFhXiW4GHVQIhhMu2j7R4mI9tb6qxqTL8cAv4lO1twJe2Agl+xfahAp58PhZCWG67Myre2b4D3APc9iUn+Ljtgw34DuBBi2qmt/R6B93gv2wn+P228F4CCX7V9oEClHy/Pbeghj+rggS/Znt/kyLpYozxWBW90aIEv257Xy/IICIzdxBCOGv7VL8MbY8Ab/vtm2VTSS+BdXMdlHQzxpgm6F9WnPNMsbhb0g3gR/K5pDRr0sT8YzdpIsNj2+y7uWhpEgC+Asvy/B+SNBlj3ANUwdvMolTBRmByEHgbgZpudN37G/lHvBkAVVCuAAAAAElFTkSuQmCC'),auto;
}
.Nv2 .icon.hammer:not(:focus)  ~ .room .cuadro{
    pointer-events:none;
     animation: example 1s 1;
}
.Nv2 .icon.key:not(:focus)  ~ .room .cerradura{
    pointer-events:none;
     animation: example 1s 1;
}
@keyframes example {
  from {pointer-events:all }
  to {pointer-events:none}
}
.Nv2 #box_open:checked~.screen:before {
  font-family: Quantico;
    content: "¡ALARMA!";
    font-weight:bold;
    text-shadow: 0 0 0.6em #000;
    z-index: 99999;
    font-size: 60px;
    pointer-events:none;
    text-align: center;
    padding: 70px 0;
    color: #fff;
   display:block;
   pointer-events:all;
   background-color: rgba(255, 0, 0, 0.8);
   background-image: url('https://media.giphy.com/media/WKqwoSJsHlxba/giphy.gif');
   background-size: 2000px;
}
.Nv2 #cerradura:checked ~.screen:before {
    font-family: Quantico;
    content: "¡Has huido!" !important;
    font-weight:bold;
    text-shadow: 0 0 0.6em #000;
    z-index: 99999;
    font-size: 60px;
    pointer-events:none;
    text-align: center;
    padding: 70px 0;
    color: #fff;
   display:block;
   pointer-events:all;
   background-color: rgba(97, 236, 97, 0.8);
   background-image: url('https://media1.tenor.com/images/725924609634fd309ce17710996ba6d9/tenor.gif?itemid=5722746');
   background-size: 1200px;
   background-position: 20% 30%;
}
.Nv2 #pass_1:checked + #pass_2:not(checked) +#pass_3:not(checked) +#pass_4:checked +#pass_5:not(:checked) ~ #box_open:checked ~ .screen:before {
 content:none;
}
.Nv2 #pass_1:checked + #pass_2:not(checked) +#pass_3:not(checked) +#pass_4:checked +#pass_5:not(:checked) ~ #box_open:checked ~ .screen .box_door{
 transform:translatex(-90%);
}

.Nv2 #pass_1:checked + #pass_2:not(checked) +#pass_3:not(checked) +#pass_4:checked +#pass_5:not(:checked) ~ #box_open:checked ~ .screen .box .key{
  pointer-events:all
}