.conten-quiz2{
    text-align: center;
    margin-top: 0px;
    background-image: url('../images/fondop3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 87vh;
}
.h1-quiz2{
    text-align: center;
    margin-top: 0px;
    padding: 90px;
    font-size: 80px;
    color: aqua;
}
